<footer class="footer-app">
  <div class="footer-section">
    <span class="footer-item">Navegação</span>
    <a class="footer-item" href="#">Subir </a>
    <a class="footer-item" href="#">Home </a>
    <a class="footer-item" href="#">Sobre mim </a>
  </div>
  <div class="footer-section">
    <span class="footer-item">Contato</span>
    <a class="footer-item" href="#">LinkedIn </a>
    <a class="footer-item" href="#">Github </a>
    <a class="footer-item" href="#">E-mail </a>
  </div>
</footer>
